### El objetivo es obtener las coordenadas de todas las estaciones de subte, de tren, de premetro y de metrobus

In [98]:
# Importamos librerías
import numpy as np
import pandas as pd

In [99]:
# Importamos los datasets
estaciones_tren = pd.read_csv('../Data/estaciones-de-ferrocarril.csv')
estaciones_bus = pd.read_csv('../Data/estaciones-de-metrobus.csv')
estaciones_subte = pd.read_csv('../Data/estaciones-de-subte.csv')
estaciones_premetro = pd.read_csv('../Data/estaciones-premetro.csv')

In [100]:
# Visualizamos cada uno de ellos
estaciones_tren.sample(3)

,long,lat,id,nombre,linea,linea_2,ramal,barrio,comuna,localidad,partido
58,-58.492537,-34.684098,424,Villa Madero,Belgrano Sur,F.C.G.B.,Buenos Aires - M.C.G. Belgrano,NaN,NaN,Villa Madero,La Matanza
29,-58.394274,-34.797848,8,Adrogué,Roca,F.C.G.R.,Plaza Constitución - Alejandro Korn,NaN,NaN,Adrogu\u00e9,Almirante Brown
143,-58.311194,-34.697589,430,Wilde,Roca,F.C.G.R.,Plaza Constitución - La Plata,NaN,NaN,Wilde,Avellaneda

In [101]:
# Creamos una columna que contenga la latitud y longitud simultáneamente
estaciones_tren['lat-lon'] = list(zip(estaciones_tren.lat, estaciones_tren.long))
estaciones_tren.sample(3)

,long,lat,id,nombre,linea,linea_2,ramal,barrio,comuna,localidad,partido,lat-lon
50,-58.730706,-34.708681,259,Marinos C. G. Belgrano,Belgrano Sur,F.C.G.B.,Buenos Aires - M.C.G. Belgrano,NaN,NaN,Parque San Mart\u00edn,Merlo,"(-34.7086815, -58.7307061)"
185,-58.574451,-34.472099,118,Dr. A. Schweitzer,Mitre,F.C.G.B.M.,Victoria - Capilla del Señor,NaN,NaN,Victoria,San Fernando,"(-34.4720989, -58.574451399999994)"
112,-58.797603,-34.503990,378,Sol y Verde,San Martin,F.C.G.S.M.,Retiro (LSM) - Cabred,NaN,NaN,Jos\u00e9 C. Paz,Jos\u00e9 C. Paz,"(-34.503989700000005, -58.79760329999999)"

In [102]:
estaciones_bus.sample(3)

,WKT,ID,NOMBRE,CALLE1,CALLE2,INTERSEC,LIN_SENT_N,LIN_SENT_S,METROBUS,NOM_SENTID,Observac,INAUGURA,FECH_INAU
166,POINT (-58.5268594377391 -34.6392155926727),345,Ctro. Transbordo Liniers,RIVADAVIA AV.,NaN,Entre José León Suárez y Montiel,NaN,Sentido Este: 174 - 182 - 185,Centro de Transbordo Liniers,Ctro. Transbordo Liniers - Sentido Ciudad de B...,NaN,Noviembre 2018,2018-11
183,POINT (-58.4857328059313 -34.6250520658384),8,Chivilcoy,JUSTO JUAN B.,CHIVILCOY,JUSTO JUAN B. & CHIVILCOY,NaN,34 - 166,Metrobus Juan B. Justo,Chivilcoy - Sentido Liniers,NaN,Mayo 2011,2011-05
119,POINT (-58.4554714829533 -34.5633875060733),165,Sucre,CABILDO AV,NaN,Entre Sucre y Echeverría,41 - 59 - 60 - 63 - 67 - 68 - 152 - 161 - 168 ...,NaN,Metrobus Norte - Av Cabildo,Sucre - Sentido Provincia/Gral Paz,NaN,Noviembre 2016,2016-11

In [103]:
estaciones_subte.sample(3)

         long        lat    id    estacion linea
46 -58.385149 -34.622339  47.0    SAN JOSE     E
79 -58.481014 -34.577797  80.0  ECHEVERRÍA     B
5  -58.380574 -34.604245   6.0  9 DE JULIO     D

In [104]:
# Creamos una columna que contenga la latitud y longitud simultáneamente
estaciones_subte['lat-lon'] = list(zip(estaciones_subte.lat, estaciones_subte.long))
estaciones_subte.sample(3)

,long,lat,id,estacion,linea,lat-lon
12,-58.374018,-34.591194,13.0,RETIRO,C,"(-34.5911938083332, -58.3740182164816)"
80,-58.486385,-34.574319,81.0,JUAN MANUEL DE ROSAS - VILLA URQUIZA,B,"(-34.574318914274805, -58.4863853478891)"
61,-58.435014,-34.575178,62.0,MINISTRO CARRANZA - MIGUEL ABUELO,D,"(-34.5751783641113, -58.435013533733795)"

In [105]:
estaciones_premetro.sample(3)

         long        lat  id     linea                nombre
15 -58.453905 -34.656441  16  PREMETRO             SOMELLERA
11 -58.465370 -34.680572  12  PREMETRO            LARRAZÁBAL
3  -58.446607 -34.662225   4  PREMETRO  FERNANDEZ DE LA CRUZ

In [106]:
# Creamos una columna que contenga la latitud y longitud simultáneamente
estaciones_premetro['lat-lon'] = list(zip(estaciones_premetro.lat, estaciones_premetro.long))
estaciones_premetro.sample(3)

,long,lat,id,linea,nombre,lat-lon
13,-58.466923,-34.680883,14,PREMETRO,ANA DÍAZ,"(-34.6808829242265, -58.466923438707)"
7,-58.460075,-34.674526,8,PREMETRO,ESCALADA,"(-34.6745264482372, -58.4600751595769)"
2,-58.450047,-34.659499,3,PREMETRO,ANA MARÍA JANER,"(-34.6594991467729, -58.450047079249295)"

In [107]:
print(estaciones_tren.info(),'\n\n')
print(estaciones_bus.info(),'\n\n')
print(estaciones_subte.info(),'\n\n')
print(estaciones_premetro.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   long       230 non-null    float64
 1   lat        230 non-null    float64
 2   id         230 non-null    int64
 3   nombre     230 non-null    object
 4   linea      230 non-null    object
 5   linea_2    230 non-null    object
 6   ramal      230 non-null    object
 7   barrio     29 non-null     object
 8   comuna     29 non-null     object
 9   localidad  158 non-null    object
 10  partido    159 non-null    object
 11  lat-lon    230 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 21.7+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WKT         231 non-null    object
 1   ID          231 non-null    int64
 2   NOMBRE      231 non-null    object
 3   CALLE1      231 non-null    object
 4   CALLE2      53 non-null     object
 5   INTERSEC    231 non-null    object
 6   LIN_SENT_N  143 non-null    object
 7   LIN_SENT_S  143 non-null    object
 8   METROBUS    231 non-null    object
 9   NOM_SENTID  231 non-null    object
 10  Observac    3 non-null      object
 11  INAUGURA    231 non-null    object
 12  FECH_INAU   231 non-null    object
dtypes: int64(1), object(12)
memory usage: 23.6+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   long      90 non-null     float64
 1   lat       90 non-null     float64
 2   id        90 non-null     float64
 3   estacion  90 non-null     object
 4   linea     90 non-null     object
 5   lat-lon   90 non-null     object
dtypes: float64(3), object(3)
memory usage: 4.3+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   long     18 non-null     float64
 1   lat      18 non-null     float64
 2   id       18 non-null     int64
 3   linea    18 non-null     object
 4   nombre   18 non-null     object
 5   lat-lon  18 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 992.0+ bytes
None

In [108]:
# La columna que muestra las coordenadas para 'estaciones_bus' es conflictiva
WKT_serie = estaciones_bus.WKT
WKT_serie

0      POINT (-58.5261125180662 -34.6382666941643)
1      POINT (-58.5199726993601 -34.6330994846233)
2      POINT (-58.5141330570233 -34.6334077554962)
3       POINT (-58.5064021059751 -34.634258948407)
4      POINT (-58.4950109186803 -34.6296657759947)
                          ...
226    POINT (-58.4649262091223 -34.6294488931923)
227    POINT (-58.4689629173607 -34.6305569753887)
228    POINT (-58.4675592553504 -34.6302009678639)
229    POINT (-58.4382054629878 -34.5885823162801)
230    POINT (-58.4382876617612 -34.5890869906298)
Name: WKT, Length: 231, dtype: object

In [109]:
# Quiero sacar "point" y los paréntesis

WKT_serie_strip = WKT_serie.str.strip('POINT ()')
WKT_serie_strip

0      -58.5261125180662 -34.6382666941643
1      -58.5199726993601 -34.6330994846233
2      -58.5141330570233 -34.6334077554962
3       -58.5064021059751 -34.634258948407
4      -58.4950109186803 -34.6296657759947
                      ...
226    -58.4649262091223 -34.6294488931923
227    -58.4689629173607 -34.6305569753887
228    -58.4675592553504 -34.6302009678639
229    -58.4382054629878 -34.5885823162801
230    -58.4382876617612 -34.5890869906298
Name: WKT, Length: 231, dtype: object

In [110]:
# Quiero separarlo en dos columnas y renombrarlas como "long" y "lat"
WKT_serie_split = WKT_serie_strip.str.split(expand=True)
WKT_serie_split.columns = ['long', 'lat']
WKT_serie_split

                  long                lat
0    -58.5261125180662  -34.6382666941643
1    -58.5199726993601  -34.6330994846233
2    -58.5141330570233  -34.6334077554962
3    -58.5064021059751   -34.634258948407
4    -58.4950109186803  -34.6296657759947
..                 ...                ...
226  -58.4649262091223  -34.6294488931923
227  -58.4689629173607  -34.6305569753887
228  -58.4675592553504  -34.6302009678639
229  -58.4382054629878  -34.5885823162801
230  -58.4382876617612  -34.5890869906298

[231 rows x 2 columns]

In [111]:
# Lo agregamos al dataframe original
estaciones_bus = estaciones_bus.merge(WKT_serie_split, left_index=True, right_index=True)
estaciones_bus.loc[:,['WKT','long','lat']].sample(3)

,WKT,long,lat
203,POINT (-58.4545590318601 -34.587372625796),-58.4545590318601,-34.587372625796
193,POINT (-58.4238490318935 -34.5795173099911),-58.4238490318935,-34.5795173099911
83,POINT (-58.4772934124832 -34.53590485531),-58.4772934124832,-34.53590485531

In [112]:
estaciones_bus

,WKT,ID,NOMBRE,CALLE1,CALLE2,INTERSEC,LIN_SENT_N,LIN_SENT_S,METROBUS,NOM_SENTID,Observac,INAUGURA,FECH_INAU,long,lat
0,POINT (-58.5261125180662 -34.6382666941643),1,Liniers,FRANCISCO DE VIEDMA,NaN,Entre Casco y Gana,34,34,Metrobus Juan B. Justo,Liniers - Sentido Pacífico,NaN,Mayo 2011,2011-05,-58.5261125180662,-34.6382666941643
1,POINT (-58.5199726993601 -34.6330994846233),2,Velez Sarsfield,JUSTO JUAN B.,ALVAREZ JONTE AV,JUSTO JUAN B. & ALVAREZ JONTE AV,NaN,34 - 99 - 166 - 172,Metrobus Juan B. Justo,Velez Sarsfield - Sentido Liniers,NaN,Mayo 2011,2011-05,-58.5199726993601,-34.6330994846233
2,POINT (-58.5141330570233 -34.6334077554962),351,Polideportivo Velez Sarsfield,JUSTO JUAN B.,GARCIA JUAN AGUSTIN,JUSTO JUAN B. & GARCIA JUAN AGUSTIN,34 - 99 - 166 - 172,NaN,Metrobus Juan B. Justo,Polideportivo Velez Sarsfield - Sentido Pacífico,NaN,Mayo 2011,2011-05,-58.5141330570233,-34.6334077554962
3,POINT (-58.5064021059751 -34.634258948407),4,Cortina,JUSTO JUAN B.,CORTINA,JUSTO JUAN B. & CORTINA,NaN,34 - 99 - 166 - 172,Metrobus Juan B. Justo,Cortina - Sentido Liniers,NaN,Mayo 2011,2011-05,-58.5064021059751,-34.634258948407
4,POINT (-58.4950109186803 -34.6296657759947),356,Carrasco,JUSTO JUAN B.,CARRASCO,JUSTO JUAN B. & CARRASCO,34 - 99 - 166 - 172,NaN,Metrobus Juan B. Justo,Carrasco - Sentido Pacífico,NaN,Mayo 2011,2011-05,-58.4950109186803,-34.6296657759947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,POINT (-58.4649262091223 -34.6294488931923),630,Artigas,RIVADAVIA AV.,NaN,Entre José de Artigas y Estado Plur. de Bolivia,5 - 25 - 49 - 53 - 55 - 76 - 85 - 113 - 132 - 133,NaN,Centro de Transbordo Flores - Roberto Arlt,Artigas - Sentido Provincia de Buenos Aires,NaN,Septiembre 2017,2017-09,-58.4649262091223,-34.6294488931923
227,POINT (-58.4689629173607 -34.6305569753887),631,San Pedrito,RIVADAVIA AV.,NaN,Entre San Pedrito Av y Lafuente,NaN,1 - 2 - 5 - 25 - 49 - 53 - 85 - 92,Centro de Transbordo Flores - Roberto Arlt,San Pedrito - Sentido Ciudad de Buenos Aires,NaN,Septiembre 2017,2017-09,-58.4689629173607,-34.6305569753887
228,POINT (-58.4675592553504 -34.6302009678639),632,Lafuente,RIVADAVIA AV.,NaN,Entre Lafuente y Culpina,NaN,8 - 33 - 55 - 76 - 86 - 96 - 113 - 133 - 136 -...,Centro de Transbordo Flores - Roberto Arlt,Lafuente - Sentido Ciudad de Buenos Aires,NaN,Septiembre 2017,2017-09,-58.4675592553504,-34.6302009678639
229,POINT (-58.4382054629878 -34.5885823162801),633,Av Córdoba,JUSTO JUAN B.,CORDOBA AV,JUSTO JUAN B. & CORDOBA AV,NaN,34 - 166,Metrobus Juan B. Justo,Av Córdoba - Sentido Liniers,Inauguradas en Agosto de 2019,Agosto 2019,2019-08,-58.4382054629878,-34.5885823162801
230,POINT (-58.4382876617612 -34.5890869906298),634,Av Córdoba,JUSTO JUAN B.,CORDOBA AV,JUSTO JUAN B. & CORDOBA AV,34 - 166,NaN,Metrobus Juan B. Justo,Av Córdoba - Sentido Pacífico,Inauguradas en Agosto de 2019,Agosto 2019,2019-08,-58.4382876617612,-34.5890869906298

In [113]:
estaciones_bus['WKT'] = estaciones_bus.WKT.str.strip('POINT ')
estaciones_bus

,WKT,ID,NOMBRE,CALLE1,CALLE2,INTERSEC,LIN_SENT_N,LIN_SENT_S,METROBUS,NOM_SENTID,Observac,INAUGURA,FECH_INAU,long,lat
0,(-58.5261125180662 -34.6382666941643),1,Liniers,FRANCISCO DE VIEDMA,NaN,Entre Casco y Gana,34,34,Metrobus Juan B. Justo,Liniers - Sentido Pacífico,NaN,Mayo 2011,2011-05,-58.5261125180662,-34.6382666941643
1,(-58.5199726993601 -34.6330994846233),2,Velez Sarsfield,JUSTO JUAN B.,ALVAREZ JONTE AV,JUSTO JUAN B. & ALVAREZ JONTE AV,NaN,34 - 99 - 166 - 172,Metrobus Juan B. Justo,Velez Sarsfield - Sentido Liniers,NaN,Mayo 2011,2011-05,-58.5199726993601,-34.6330994846233
2,(-58.5141330570233 -34.6334077554962),351,Polideportivo Velez Sarsfield,JUSTO JUAN B.,GARCIA JUAN AGUSTIN,JUSTO JUAN B. & GARCIA JUAN AGUSTIN,34 - 99 - 166 - 172,NaN,Metrobus Juan B. Justo,Polideportivo Velez Sarsfield - Sentido Pacífico,NaN,Mayo 2011,2011-05,-58.5141330570233,-34.6334077554962
3,(-58.5064021059751 -34.634258948407),4,Cortina,JUSTO JUAN B.,CORTINA,JUSTO JUAN B. & CORTINA,NaN,34 - 99 - 166 - 172,Metrobus Juan B. Justo,Cortina - Sentido Liniers,NaN,Mayo 2011,2011-05,-58.5064021059751,-34.634258948407
4,(-58.4950109186803 -34.6296657759947),356,Carrasco,JUSTO JUAN B.,CARRASCO,JUSTO JUAN B. & CARRASCO,34 - 99 - 166 - 172,NaN,Metrobus Juan B. Justo,Carrasco - Sentido Pacífico,NaN,Mayo 2011,2011-05,-58.4950109186803,-34.6296657759947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,(-58.4649262091223 -34.6294488931923),630,Artigas,RIVADAVIA AV.,NaN,Entre José de Artigas y Estado Plur. de Bolivia,5 - 25 - 49 - 53 - 55 - 76 - 85 - 113 - 132 - 133,NaN,Centro de Transbordo Flores - Roberto Arlt,Artigas - Sentido Provincia de Buenos Aires,NaN,Septiembre 2017,2017-09,-58.4649262091223,-34.6294488931923
227,(-58.4689629173607 -34.6305569753887),631,San Pedrito,RIVADAVIA AV.,NaN,Entre San Pedrito Av y Lafuente,NaN,1 - 2 - 5 - 25 - 49 - 53 - 85 - 92,Centro de Transbordo Flores - Roberto Arlt,San Pedrito - Sentido Ciudad de Buenos Aires,NaN,Septiembre 2017,2017-09,-58.4689629173607,-34.6305569753887
228,(-58.4675592553504 -34.6302009678639),632,Lafuente,RIVADAVIA AV.,NaN,Entre Lafuente y Culpina,NaN,8 - 33 - 55 - 76 - 86 - 96 - 113 - 133 - 136 -...,Centro de Transbordo Flores - Roberto Arlt,Lafuente - Sentido Ciudad de Buenos Aires,NaN,Septiembre 2017,2017-09,-58.4675592553504,-34.6302009678639
229,(-58.4382054629878 -34.5885823162801),633,Av Córdoba,JUSTO JUAN B.,CORDOBA AV,JUSTO JUAN B. & CORDOBA AV,NaN,34 - 166,Metrobus Juan B. Justo,Av Córdoba - Sentido Liniers,Inauguradas en Agosto de 2019,Agosto 2019,2019-08,-58.4382054629878,-34.5885823162801
230,(-58.4382876617612 -34.5890869906298),634,Av Córdoba,JUSTO JUAN B.,CORDOBA AV,JUSTO JUAN B. & CORDOBA AV,34 - 166,NaN,Metrobus Juan B. Justo,Av Córdoba - Sentido Pacífico,Inauguradas en Agosto de 2019,Agosto 2019,2019-08,-58.4382876617612,-34.5890869906298

In [114]:
estaciones_bus.rename(columns = {'WKT':'lat-lon'}, inplace = True)
estaciones_bus.sample(2)

,lat-lon,ID,NOMBRE,CALLE1,CALLE2,INTERSEC,LIN_SENT_N,LIN_SENT_S,METROBUS,NOM_SENTID,Observac,INAUGURA,FECH_INAU,long,lat
147,(-58.3701461029791 -34.6036540649886),207,Sarmiento,ALEM LEANDRO N. AV.,NaN,Entre Sarmiento y Av Corrientes,56 - 62 - 91 - 93 - 130 - 152,NaN,Metrobus del Bajo,Sarmiento - Sentido Norte,NaN,Junio 2017,2017-06,-58.3701461029791,-34.6036540649886
40,(-58.4106713368542 -34.6339696721209),49,Sánchez de Loria,CHICLANA AV,NaN,Entre 24 de Noviembre y Sánchez de Loria,NaN,143,Metrobus Sur - Ramal Fernández de la Cruz,Sánchez de Loria - Sentido Gral Paz,NaN,Agosto 2013,2013-08,-58.4106713368542,-34.6339696721209

In [117]:
estaciones_bus.info()
#lat-lon está como obj

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lat-lon     231 non-null    object
 1   ID          231 non-null    int64
 2   NOMBRE      231 non-null    object
 3   CALLE1      231 non-null    object
 4   CALLE2      53 non-null     object
 5   INTERSEC    231 non-null    object
 6   LIN_SENT_N  143 non-null    object
 7   LIN_SENT_S  143 non-null    object
 8   METROBUS    231 non-null    object
 9   NOM_SENTID  231 non-null    object
 10  Observac    3 non-null      object
 11  INAUGURA    231 non-null    object
 12  FECH_INAU   231 non-null    object
 13  long        231 non-null    object
 14  lat         231 non-null    object
dtypes: int64(1), object(14)
memory usage: 27.2+ KB